nakama-cocos2d-x-sdk/include
nakama-cocos2d-x-sdk/libs
nakama-cocos2d-x-sdk/LICENSE
nakama-cocos2d-x-sdk/README.md
nakama-cocos2d-x-sdk/CHANGELOG.md
example/proj*
example/bin
example/cocos2d
.DS_Store
build
out
example/*-build